# OS:
.DS_Store
desktop.ini
Thumbs.db

# IDE:
.idea/*
.vscode/*
*.code-workspace
*.sublime-project
*.sublime-workspace
*.suo

# Godot Engine:
.import/*
.mono/*
data_*/
*.TMP
*.translation

# Builds:
builds/linux/*
builds/mac/*
builds/web/*
builds/windows/*
!builds/linux/.empty
!builds/mac/.empty
!builds/web/.empty
!builds/windows/.empty

# Ignore:
ignore/*
!ignore/.gdignore
!ignore/readme.md
